
h1,h2,h3,h4,h5,h6{
    color: #1b222b;
}

body{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: #1b222b;
}

/* Navbar Section */
.brand{
    font-family: 'Nouvelle Vague', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #1b222b;
    margin: 0.1rem 5rem 0.1rem 4.5rem;
}

.nav-item{
    margin: 0 0.5rem;
    color: #968e85;
}

.nav-item:hover{
    transition: 500ms;
    color: black;
    font-weight: bolder;
}

.icofont-cat-alt-3{
    color: #1b222b;
    margin: 00.5rem;
}

.social-media{
    margin: 0.1rem 5rem;
}

.social-media-items{
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 30%;
    font-size: 18px;
}

.social-media-items:hover{
    background-color: #e8eae9;
    transition: 300ms;
}

.icofont-cart{
    font-size: 22px;
}

/* Hero Section*/

@media(min-width:992px){
    .col-lg-6, .col-md-6{
        height: 650px;
    }
}

.hero-section{
    background-color: #ffeeda;
    padding: 7% 7% 0 7%;
}

.header-hero{
    font-weight: 900;
    font-size: 72px;
}

#product-photo{
    padding: 3rem 4rem;
    position: relative;
    bottom: 7rem;
}

.text-hero{
    color: #968e85;
    width: 80%;
    margin: 2rem 0.5rem;
}

.btn-dark{
    border-radius: 100px;
    padding: 2.5% 6%;
    margin: 5% 0;
}

.btn{
    width: 10rem;
    height: 4rem;
    padding: 0px;
}

.icofont-arrow-right{
    transform: rotate(-45deg);
}

/* Brand Testimonials Section */

.brand-testi-image{
    background-color: white;
}

.heading-testimonial{
    text-align: center;
    padding: 3rem 2rem 1rem 2rem;
}

.brand-image-items{
    transition: 500ms;
    width: 6rem;
    margin: 3rem 3rem 3rem 6rem;
}

.brand-image-items:hover{
    transition: 500ms;
    width: 6.5rem;
}

.brand-row{
    width: 90%;
}

#beco-logo{
    position: relative;
    bottom: 25px;
}

/* Subscription Section */

.subscription{
    padding: 3% 7% 0 7%;
}

.subscription-heading{
    font-weight: 700;
    font-size: 58px;
}

.subsciption-photo{
    width: 120%;
    position: relative;
    bottom: 30px;
}

.subscription-text{
    color: #968e85;
}

.ol-subscription{
    border-radius: 100px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.ol-subscription:hover{
    background-color: #ddede6;
    color: #3a6e5a;
    border-color: #ddede6;
}

.subscription.col-lg-6{
    height: 95%;
    padding: 0 10% 1% 0;
}

.ol-text-subscription{
    font-size: 1.75rem;
    margin: 6% 0;
}

.ol-par-subs{
    color: #968e85;
}

.ol-subs.col-lg-4.col-md-4{
    padding: 0px 10px 0px 0px;
}


/* Top Seller Section */

.top-seller-section{
    text-align: center;
    padding: 3% 7% 10% 7%;
}

.shop-now.btn-light{
    padding: 10px;
    height: auto;
    border-radius: 10px;
    align-self: center;
    position: relative;
    top: 10%;

}

.top-seller-heading{
    font-weight: 900;
    font-size: 40px;
}

.card-text{
    margin: 3% 10%;
    color:#6f6f6f;
}

.card-title{
    font-weight: 900;
    font-size: 28px;
}

.card-img-top{
    transition: 500ms;
    width: 55%;
    margin: 10px 10px 5px 10px;
    align-self: center;
}

.card-img-top:hover{
    transition: 500ms;
    width: 56%;
}

.green.card.h-100{
    background-color: #deede6;
    border-style: none;
    border-radius: 15px;
}

.yellow.card.h-100{
    background-color: #ffeeda;
    border-style: none;
    border-radius: 15px;
}

.blue.card.h-100{
    background-color: #bde5fe;
    border-style: none;
    border-radius: 15px;
}

.h-100{
    margin: 2rem 0.7rem;
}



/* Mobile Responsive */
@media(max-width:768px){
    body{
        text-align: center;
    }

    .vr{
        display: none;
    }

    .social-media-items{
        padding: 0.5rem;
        margin: 0.75rem;
        border-radius: 30%;
        font-size: 18px;
    }

    .header-hero{
        font-weight: 900;
        font-size: 64px;
    }

    .text-hero{
        margin: 5% 0% 5% 10%;
    }

    #product-photo{
        width: 80%;
        padding-top: 10px;
        position: relative;
        top: 1px;
    }

    .brand-image-items{
        width: 8rem;
        margin: 3rem 1.5rem 3rem 35%;
        padding: 0px;
    }
    
    .brand-image-items:hover{
        transition: 500ms;
        width: 8.5rem;
    }

    .col-sm-6{
        width: 50%;
    }

    #beco-logo{
        position: relative;
        bottom: 50px;
    }

    .subscription{
        padding: 0 7% 0 7%;
    }

    .subscription-heading{
        font-weight: 700;
        font-size: 48px;
        padding: 0px;
    }

    .subsciption-photo{
        width: 80%;
        position: relative;
        top: 5%;
    }

    .subs-button{
        margin: 1%;
    }

    .subscription.col-lg-6{
        height: 95%;
        padding: 0 10% 10% 10%;
    }
    
}

/* Tablet Responsive */

@media(min-width: 768px) and (max-width:992px){
    #product-photo{
        width: 32rem;
        position: relative;
        bottom: 3rem;
        right: 3rem;
    }
    
    nav{
        text-align: center;
    }

    .vr{
        display: none;
    }

    .social-media-items{
        padding: 0.5rem;
        margin: 0.75rem;
        border-radius: 30%;
        font-size: 18px;
    }

    .btn{
        width: 10.2rem;
        height: 4.2rem;
        padding: 0px;
    }

    .header-hero{
        font-weight: 900;
        font-size: 60px;
    }

    .text-hero{
        font-size: 1rem;
    }

    .brand-image-items{
        width: 8rem;
        margin: 3rem 50% 3rem 50%;
        padding: 0px;
    }

    .brand-image-items:hover{
        transition: 500ms;
        width: 8.5rem;
    }

    .subsciption-photo{
        width: 100%;
        margin-left: 15%;
        position: relative;
        bottom: 10%;
    }

    .ol-subscription{
        border-radius: 100px;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .blue.card.h-100{
        position: relative;
        left: 55%;
    }
}

/* Small Tablet Responsive */
@media(min-width:576px) and (max-width:767px){
    .blue.card.h-100{
        position: relative;
        left: 55%;
    }
}
